<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397387985464-69fqogud8qiqfb1e8ginj40v7bhqvovo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397387985464-69fqogud8qiqfb1e8ginj40v7bhqvovo</string>
	<key>API_KEY</key>
	<string>AIzaSyAbkmLzck73gEskcjPfW6Z49fg61N18mlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>397387985464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harundemirkaya.PhotoSharingApp</string>
	<key>PROJECT_ID</key>
	<string>photosharingapp-ab305</string>
	<key>STORAGE_BUCKET</key>
	<string>photosharingapp-ab305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397387985464:ios:50bd940d854c4b61daeccd</string>
</dict>
</plist>